{% extends 'index_base.html' %}
{% load staticfiles %}

{% block head %}

<meta name="csrf-token" content="{{ csrf_token }}" />

<link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/account.css' %}" rel="stylesheet">

{% endblock head %}

{% block content %}

<section id="content">

    <div class="container" align="center">
        <div id="payment" class="submitbox" style="max-width: 500px;">
            <div class="col-sm">
                <span class="boxtitle" >결제</span>   
            </div>
            <br/>
            <div class="row col-sm justify-content-center">
                <div>가맹점&nbsp;</div>
                <div>"<strong>{{ s_name }}</strong>"에서&nbsp;</div>
                <div>결제를&nbsp;진행합니다.</div>
                <input id="s_id" value="{{ s_id }}" hidden />
                <input id="u_id" value="{{ u_id }}" hidden />
            </div>
            
            <br/>
        
            <div class="row col-sm justify-content-center">
                <div>-&nbsp;결제금액&nbsp;&nbsp;(RC)&nbsp;&nbsp;</div>
                <div><input type="number" min="0" onkeypress="return event.charCode >= 48 && event.charCode <= 57" id="amount" name="amount" class="form-control" styple="width:100%;" placeholder="결제 금액" required autocomplete="off" autofocus="true"></div>
            </div>

            <br/>

            <div class="row col-sm justify-content-center">
                <div>-&nbsp;비밀번호 입력&nbsp;&nbsp;</div>
                <div><input type="password"  id="password" name="password" class="form-control" placeholder="비밀번호" required autocomplete="off"></div>
            </div>
            
            <br/>
            
            <div class="row col-sm">
                <button type="submit" id="btn_submit" onClick="check_validation()" class="col-sm btn submitButton">결제</button>
                <a href="{% url 'profile:account_myInfo' u_id %}" class="col-sm btn cancelButton">취소</a>
            </div>
        
        </div>
    </div>
<br>
</section>

<script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
<script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/payment.js' %}"></script>

{% endblock content %}