{% extends 'index_base.html' %}
{% load staticfiles %}

{% block head %}

<link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/myinfo.css' %}" rel="stylesheet">

<style>
	/*    --------------------------------------------------
	:: General
	-------------------------------------------------- */
	body {
	font-family: 'Open Sans', sans-serif;
	color: #353535;
	}
	.content h1 {
	text-align: center;
	color: #71c55d;
	}
	.content .content-footer p {
	color: #6d6d6d;
	font-size: 12px;
	text-align: center;
	}
	.content .content-footer p a {
	color: inherit;
	font-weight: bold;
	}
	/*	--------------------------------------------------
	:: Table Filter
	-------------------------------------------------- */
	.panel {
	border: none;
	background-color: #fff;
	}
	.panel .btn-group {
	margin: 15px 0 30px;
	}
	.panel .btn-group .btn {
	transition: background-color .3s ease;
	}
	.table-filter {
	background-color: #fff;
	border-bottom: 1px solid #eee;
	}
	.table-filter tbody tr:hover {
	cursor: pointer;
	background-color: #eee;
	}
	.table-filter tbody tr td {
	padding: 10px;
	vertical-align: middle;
	border-top-color: #eee;
	}
	.table-filter tbody tr.selected td {
	background-color: #eee;
	}
	.table-filter tr td:first-child {
	width: 38px;
	}
	.table-filter tr td:nth-child(2) {
	width: 35px;
	}
	.ckbox {
	position: relative;
	}
	.ckbox input[type="checkbox"] {
	opacity: 0;
	}
	.ckbox label {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	}
	.ckbox label:before {
	content: '';
	top: 1px;
	left: 0;
	width: 18px;
	height: 18px;
	display: block;
	position: absolute;
	border-radius: 2px;
	border: 1px solid #bbb;
	background-color: #fff;
	}
	.ckbox input[type="checkbox"]:checked + label:before {
	border-color: #2BBCDE;
	background-color: #2BBCDE;
	}
	.ckbox input[type="checkbox"]:checked + label:after {
	top: 3px;
	left: 3.5px;
	content: '\e013';
	color: #fff;
	font-size: 11px;
	font-family: 'Glyphicons Halflings';
	position: absolute;
	}
	.table-filter .star {
	color: #ccc;
	text-align: center;
	display: block;
	}
	.table-filter .star.star-checked {
	color: #F0AD4E;
	}
	.table-filter .star:hover {
	color: #ccc;
	}
	.table-filter .star.star-checked:hover {
	color: #F0AD4E;
	}
	.table-filter .media-photo {
	width: 35px;
	}
	.table-filter .media-body {
	display: block;
	/* Had to use this style to force the div to expand (wasn't necessary with my bootstrap version 3.3.6) */
	}/*    --------------------------------------------------
	:: General
	-------------------------------------------------- */
	body {
	font-family: 'Open Sans', sans-serif;
	color: #353535;
	}
	.content h1 {
	text-align: center;
	}
	.content .content-footer p {
	color: #6d6d6d;
	font-size: 12px;
	text-align: center;
	}
	.content .content-footer p a {
	color: inherit;
	font-weight: bold;
	}
	/*	--------------------------------------------------
	:: Table Filter
	-------------------------------------------------- */
	.panel {
	border: 1px solid #ddd;
	background-color: #fcfcfc;
	}
	.panel .btn-group {
	margin: 15px 0 30px;
	}
	.panel .btn-group .btn {
	transition: background-color .3s ease;
	}
	.table-filter {
	background-color: #fff;
	border-bottom: 1px solid #eee;
	}
	.table-filter tbody tr:hover {
	cursor: pointer;
	background-color: #eee;
	}
	.table-filter tbody tr td {
	padding: 10px;
	vertical-align: middle;
	border-top-color: #eee;
	}
	.table-filter tbody tr.selected td {
	background-color: #eee;
	}
	.table-filter tr td:first-child {
	width: 38px;
	}
	.table-filter tr td:nth-child(2) {
	width: 35px;
	}
	.ckbox {
	position: relative;
	}
	.ckbox input[type="checkbox"] {
	opacity: 0;
	}
	.ckbox label {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	}
	.ckbox label:before {
	content: '';
	top: 1px;
	left: 0;
	width: 18px;
	height: 18px;
	display: block;
	position: absolute;
	border-radius: 2px;
	border: 1px solid #bbb;
	background-color: #fff;
	}
	.ckbox input[type="checkbox"]:checked + label:before {
	border-color: #2BBCDE;
	background-color: #2BBCDE;
	}
	.ckbox input[type="checkbox"]:checked + label:after {
	top: 3px;
	left: 3.5px;
	content: '\e013';
	color: #fff;
	font-size: 11px;
	font-family: 'Glyphicons Halflings';
	position: absolute;
	}
	.table-filter .star {
	color: #ccc;
	text-align: center;
	display: block;
	}
	.table-filter .star.star-checked {
	color: #F0AD4E;
	}
	.table-filter .star:hover {
	color: #ccc;
	}
	.table-filter .star.star-checked:hover {
	color: #F0AD4E;
	}
	.table-filter .media-photo {
	width: 35px;
	}/*    --------------------------------------------------
	:: General
	-------------------------------------------------- */
	body {
	font-family: 'Open Sans', sans-serif;
	color: #353535;
	}
	.content h1 {
	text-align: center;
	}
	.content .content-footer p {
	color: #6d6d6d;
	font-size: 12px;
	text-align: center;
	}
	.content .content-footer p a {
	color: inherit;
	font-weight: bold;
	}
	/*	--------------------------------------------------
	:: Table Filter
	-------------------------------------------------- */
	.panel {
	border: none;
	background-color: #fff;
	}
	.panel .btn-group {
	margin: 15px 0 30px;
	}
	.panel .btn-group .btn {
	transition: background-color .3s ease;
	}
	.table-filter {
	background-color: #fff;
	border-bottom: 1px solid #eee;
	}
	.table-filter tbody tr:hover {
	cursor: pointer;
	background-color: #eee;
	}
	.table-filter tbody tr td {
	padding: 10px;
	vertical-align: middle;
	border-top-color: #eee;
	}
	.table-filter tbody tr.selected td {
	background-color: #eee;
	}
	.table-filter tr td:first-child {
	width: 38px;
	}
	.table-filter tr td:nth-child(2) {
	width: 35px;
	}
	.ckbox {
	position: relative;
	}
	.ckbox input[type="checkbox"] {
	opacity: 0;
	}
	.ckbox label {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	}
	.ckbox label:before {
	content: '';
	top: 1px;
	left: 0;
	width: 18px;
	height: 18px;
	display: block;
	position: absolute;
	border-radius: 2px;
	border: 1px solid #bbb;
	background-color: #fff;
	}
	.ckbox input[type="checkbox"]:checked + label:before {
	border-color: #2BBCDE;
	background-color: #2BBCDE;
	}
	.ckbox input[type="checkbox"]:checked + label:after {
	top: 3px;
	left: 3.5px;
	content: '\e013';
	color: #fff;
	font-size: 11px;
	font-family: 'Glyphicons Halflings';
	position: absolute;
	}
	.table-filter .star {
	color: #ccc;
	text-align: center;
	display: block;
	}
	.table-filter .star.star-checked {
	color: #F0AD4E;
	}
	.table-filter .star:hover {
	color: #ccc;
	}
	.table-filter .star.star-checked:hover {
	color: #F0AD4E;
	}
	.table-filter .media-photo {
	width: 35px;
	}
	.table-filter .media-body {
	display: block;
	/* Had to use this style to force the div to expand (wasn't necessary with my bootstrap version 3.3.6) */
	}
	.table-filter .media-meta {
	font-size: 11px;
	color: #999;
	}
	.table-filter .media .title {
	color: #71c55d;
	font-size: 14px;
	font-weight: bold;
	line-height: normal;
	margin: 0;
	}
	.table-filter .media .title span {
	font-size: .8em;
	margin-right: 20px;
	}
	.table-filter .media .title span.pagado {
	color: #5cb85c;
	}
	.table-filter .media .title span.pendiente {
	color: #f0ad4e;
	}
	.table-filter .media .title span.cancelado {
	color: #d9534f;
	}
	.table-filter .media .summary {
	font-size: 14px;
	}
	.table-filter .media-body {
	display: block;
	/* Had to use this style to force the div to expand (wasn't necessary with my bootstrap version 3.3.6) */
	}
	.table-filter .media-meta {
	font-size: 11px;
	color: #999;
	}
	.table-filter .media .title {
	color: #2BBCDE;
	font-size: 14px;
	font-weight: bold;
	line-height: normal;
	margin: 0;
	}
	.table-filter .media .title span {
	font-size: .8em;
	margin-right: 20px;
	}
	.table-filter .media .title span.pagado {
	color: #5cb85c;
	}
	.table-filter .media .title span.pendiente {
	color: #f0ad4e;
	}
	.table-filter .media .title span.cancelado {
	color: #d9534f;
	}
	.table-filter .media .summary {
	font-size: 14px;
	}
	.table-filter .media-meta {
	font-size: 11px;
	color: #999;
	}
	.table-filter .media .title {
	color: #2BBCDE;
	font-size: 14px;
	font-weight: bold;
	line-height: normal;
	margin: 0;
	}
	.table-filter .media .title span {
	font-size: .8em;
	margin-right: 20px;
	}
	.table-filter .media .title span.pagado {
	color: #5cb85c;
	}
	.table-filter .media .title span.pendiente {
	color: #f0ad4e;
	}
	.table-filter .media .title span.cancelado {
	color: #d9534f;
	}
	.table-filter .media .summary {
	font-size: 14px;
	}
	.btn-primary.custom-btn.btn-filter {
	background-color: #17a2b8;
	border-color: #17a2b8;
	}
</style>

{% endblock head %}

{% block content %}

<section id="content">
   <input type="text" id="from" value="{{ user.username }}" hidden />
   <input type="text" id="user" value="{{ user.id }}" hidden />
    <div class="container">
        <div class="submitbox">
                        
            <span class="boxtitle">l 계정관리</span>

            <div class="row margin-top">
                <div class="card margin-left">
                    <img src="{% static 'img/account/wallet.png' %}" class="margin-left" alt="보유잔액">
                    <div class="top-right">보유 금액</div>
                    <div class="centered-right">{{ balance }}&nbsp;RC</div>
                    <div class="bottom-right">
                        <a href="">결제하기</a>&nbsp;/&nbsp;
                        <a href="{% url 'payment:withdraw' user.id %}">송금하기</a>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="profile-head">
                        <h5>
                            {{ context.username }}
                            <a href="{% url 'profile:check_password' user.id %}" class="profile-edit-btn" name="btnAddMore">정보수정</a>
                        </h5>
                        <p class="proile-rating">
                            <div class="row margin-left margin-right margin-top">
                                <img src="{% static 'img/account/email.png' %}" class="icon" alt="email"/>
                                <span class="icon_txt">{{ context.email }}</span>
                            </div>
							<br>
                            <div class="row margin-left margin-right margin-top">
                                <img src="{% static 'img/account/gender.png' %}" class="icon" alt="성별"/>
                                <span class="icon_txt">
                                {% if context.gender == "m" %}
                                    남자
                                {% else %}
                                    여자
                                {% endif %}
                                </span>
                            </div>
							<br>
                            <div class="row margin-left margin-right margin-top">
                                <img src="{% static 'img/account/birthday.png' %}" class="icon" alt="생년월일"/>
                                <span class="icon_txt">{{ context.birth_year }}.{{ context.birth_month }}.{{ context.birth_date }}</span>
                            </div>
                        </p>
                    </div>
                </div>
            </div>

            <div class="row profile-head margin-left margin-right">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="myHistory-tab" data-toggle="tab" href="#myHistory" role="tab" aria-controls="myHistory" aria-selected="false">거래내역</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="myBoard-tab" data-toggle="tab" href="#myBoard" role="tab" aria-controls="myBoard" aria-selected="true">게시글 관리</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="myStore-tab" data-toggle="tab" href="#myStore" role="tab" aria-controls="myStore" aria-selected="false">가맹점 관리</a>
                    </li>
                </ul>
            </div>

            <div class="row margin-left margin-right">
                <div class="col-md-8">
                    <div class="tab-content profile-tab" id="myTabContent">
                        <div class="tab-pane fade show active" id="myHistory" role="tabpanel" aria-labelledby="myHistory-tab">
								<div class="btn-group" >
									<button type="button" class="btn btn-danger btn-filter" data-target="발행">발행</button>
									<button type="button" class="btn btn-success btn-filter" data-target="송금">송금</button>
									<button type="button" class="btn btn-warning btn-filter" data-target="결제">결제</button>
									<button type="button" class="btn btn-primary custom-btn btn-filter" data-target="all">종합</button>
								</div>
							<br>
							<div class="table-container">
                                <table class="table table-filter">
                                    <tbody id="history"></tbody>                            
                                </table>
							</div>
						</div>

                        <div class="tab-pane fade show" id="myBoard" role="tabpanel" aria-labelledby="myBoard-tab">
                            <div class="row card">
                                <table class="table table-hover shopping-cart-wrap">
                                    <thead class="text-muted">
                                        <tr>
                                            <th scope="col">Product</th>
                                            <th scope="col" width="120">Quantity</th>
                                            <th scope="col" width="120">Price</th>
                                            <th scope="col" width="200" class="text-right">Action</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                        
                        <div class="tab-pane fade" id="myStore" role="tabpanel" aria-labelledby="myStore-tab">
							<div class="table-container">
								<table class="table table-filter">
									<thead>
										<tr>
											<th>no</th>
											<th>상호명</th>
											<th>등록업종</th>
											<th>등록지</th>
											<th>등록일자</th>
											<th>상태</th>
											<th>가맹점삭제</th>
										</tr>
									</thead>
									<tbody id="myStoreList">
									</tbody>                            
								</table>
								<div id="page-area">가맹점 목록을 불러오는 중입니다.</div>
							</div>
						</div>

                    </div>
                </div>
            </div>
        
        </div>
    </div>

</section>
<br>


<script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
<script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/myInfo.js' %}"></script>

{% endblock content %}