{% extends './base.html' %}
{% load staticfiles %}
{% block content %}
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            
            <div class="card-header card-header-success">
              
              <span style="float: left">
                <h4 class="card-title "><i class="material-icons">person</i>&nbsp;<strong>사용자 관리</strong></h4>
                <p class="card-category">this is the page of managing users</p>
              </span>
              <span style="float: right">
                <form action="." method="get" class="navbar-form">
                    {% csrf_token %}
                    <div class="input-group no-border">
                      <input type="text" value="" name="keyword" class="form-control" placeholder="search...">
                      <button type="submit" class="btn btn-white btn-round btn-just-icon">
                        <i class="material-icons">search</i>
                        <div class="ripple-container"></div>
                      </button>
                    </div>
                  </form>
              </span>
            </div>            
            <div class="card-body scrollbar scrollbar-primary">
              <div class="table-responsive">
                <table class="table">
                  <thead class=" text-primary">
                    <th>Username</th>
                    <th>Email</th>
                    <th>Gender</th>
                    <th>Birth</th>
                    <th>Type</th>
                    <th>Status</th>
                    <th></th>
                  </thead>
                  <tbody>
                    {% for user in users %}
                      <tr class="tag" id="{{user.id}}">
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                          {% if user.profile.gender == 'm' %}
                            남자
                          {% else %}
                            여자
                          {% endif %}
                        </td>
                        <td>{{ user.profile.birth_year }}-{{ user.profile.birth_month }}-{{ user.profile.birth_date }}</td>
                        {% if user.profile.type == 1 %}
                        <td>가맹점</td>
                        {% elif user.profile.type == 2 %}
                        <td>일반</td>
                        {% endif %}
                        <td>{{ user.profile.status }}</td>
                        <td class="status-button">
                            <a href="#layer2" class="btn-example" id="{{user.id}}">
                              <button type="button" class="btn btn-primary btn-sm">상세조회</button>
                            </a>
                        </td>
                      </tr>
                    {% endfor %}
                    {% for li in remain_of_page %}
                        <tr><td colspan="6">&nbsp;`</td></tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div> 팝업레이어 부분 -->
  <div class="dim-layer">
      <div class="dimBg"></div>
        <div id="layer2" class="pop-layer">
          <div class="pop-container">
          <div class="btn-r">
              <a href="#" class="btn-layerClose"><i class="material-icons">close</i></a>
          </div>
          <div class="pop-conts">
              <div class="profile-userpic">
                  <img style="float:left;" src="https://image.flaticon.com/icons/svg/236/236832.svg" class="img-responsive" alt="">
              </div>
              <div class="profile-usertitle">
                <table style="margin-left: 21em">
                  <tr>
                    <td class="profile">id</td><td class="profile-usertitle-name"></td>  
                  </tr>
                  <tr>
                    <td class="profile">email</td><td class="profile-usertitle-email"></td>  
                  </tr>
                  <tr>
                    <td class="profile">gender</td><td class="profile-usertitle-gender"></td>  
                  </tr>
                  <tr>
                    <td class="profile">birth</td><td class="profile-usertitle-birth"></td>  
                  </tr>
                  <tr>
                    <td class="profile">type</td><td class="profile-usertitle-type"></td>  
                  </tr>
                  <tr>
                    <td class="profile">status</td><td class="profile-usertitle-status"></td>  
                  </tr>
                  <tr>
                      <td class="profile">like</td><td class="profile-usertitle-like"></td>  
                  </tr>
                  <tr>
                      <td class="profile">board</td><td class="profile-usertitle-board"></td>  
                  </tr>
                </table>
              </div>
          </div>
        </div>
    </div>
  </div>
<style rel="stylesheet" type="text/css" href="{% static 'css/operate/user.css' %}"></style>
<script src="{% static 'js/operate/user.js' %}"></script>
{% endblock content %}